<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Samuel's Advice</title>
</head>
<body>
    <h1>Hello <%= name %></h1> <!-- this is displaying the access name from the post method using EJS, making it dynamic-->
    <h2><%= datemethod() %></h2> <!-- this is calling the datemethod from the index.js (server logic) but with the help of Embedded JS tags-->
</body>
</html>